<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <style>

        table,th,td,tr{

            border: 1px solid black;
        }

    </style>
</head>
<body>
    
    <table>

        <tr>
            <th>ID</th>
            <th>USERS</th>
            <th>EMAIL</th>
        </tr>

        <% for( user of usersdata){ %>

            <tr>
                <td><%=user.id%></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td>
                    <form method="get" action="/user/<%=user.id%>/edit">
                        <button>EDIT</button>
                    </form>
                </td>
            </tr>

        <% } %>

    </table>

</body>
</html>
